
#hero{
    background-color: #DEF9C4;
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;

}
.intro{
    width: 30%;
    margin: auto;
    font-size: 20px;
    font-family: "Merriweather", serif;
    color: #40514e;
    
    
   
}
.about-text{
    color: #50B498;
    
}
.get-in-touch-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #50B498;

}
#footer{
   background-color: #50B498; 
}
